[submodule "app/plugins/start"]
	path = app/plugins/start
	url = git@github.com:reliefproject/relief-start.git
[submodule "app/plugins/keys"]
	path = app/plugins/keys
	url = git@github.com:reliefproject/relief-keys.git
[submodule "app/plugins/apps"]
	path = app/plugins/apps
	url = git@github.com:reliefproject/relief-apps.git
