* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
html {
  overflow:auto;
}

.container {
   padding-left:0;
   padding-right:0;
}

.modal-body td {
  white-space: normal;
}

/* Override blue bg color */
tr:active {
  color: #333;
  background-color:#fff;
}

/* '' */
.icon-red:before {
  content: '\e89a';
  color:#fc605b;
}
.icon-blue:before {
  content: '\e89a';
  color:#57acf5;
}
.icon-orange:before {
  content: '\e89a';
  color:#fdbc40;
}
.icon-green:before {
  content: '\e89a';
  color:#34c84a;
}
