<!DOCTYPE html>
<html ng-app="MainApp">
  <head>
    <title>Relief</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="stylesheets/photon.css">
    <link rel="stylesheet" href="stylesheets/main.css">

    <!-- Javascript -->
    <script src="../node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="js/preload.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>

  </head>
  <body>
    <div class="window" ng-controller="TabsCtrl">

      <!-- .toolbar-header sits at the top of your app -->
      <header class="toolbar toolbar-header">

        <div class="toolbar-actions">

          <div class="btn-group pull-right">
            <button class="btn btn-default pull-right" ng-disabled="!isLoggedIn">
              <span class="icon icon-users"></span>
            </button>
            <button class="btn btn-default pull-right" ng-disabled="!isLoggedIn">
              <span class="icon icon-key"></span>
            </button>
            <button class="btn btn-default" ng-disabled="!isLoggedIn">
              <span class="icon icon-cog"></span>
            </button>
            <button class="btn btn-default pull-right"
                    ng-click="openTab('fuenf', { title: 'Test F&uuml;nf', url: 'http://bitbucket.org' })">
              <span class="icon icon-help-circled"></span>
            </button>
            <button class="btn btn-default pull-right" ng-disabled="!isLoggedIn"
                    ng-click="loggedOut()">
              <span class="icon icon-logout"></span>
            </button>
          </div>

          <div class="btn-group pull-right">
            <button class="btn btn-default" ng-disabled="!isLoggedIn">
              <span class="icon icon-home icon-bell"></span>
              &nbsp;1
            </button>
            <button class="btn btn-default" ng-disabled="!isLoggedIn">
              <span class="icon icon-home icon-hourglass"></span>
              &nbsp;0
            </button>
          </div>

        </div>
      </header>

      <div class="tab-group">
        <div class="tab-item"
             ng-repeat="(tabId, tab) in tabs"
             ng-class="{'active': tabId == selectedTab, 'tab-item-fixed': tab.fixed }"
             ng-click="selectTab(tabId)">
          <span class="icon icon-cancel icon-close-tab"
                ng-hide="tab.fixed"
                ng-click="closeTab(tabId)">
          </span>
          <span class="icon"
                ng-show="tab.fixed"
                ng-class="tab.icon">
          </span>
          {{ tab.displayTitle }}
        </div>
      </div>

    <div class="window-content">
        <webview id="{{ tabId }}" webviewinit
                 ng-repeat="(tabId, tab) in tabs"
                 ng-class="{ show: tabId == selectedTab }"
                 ng-src="{{ trustUrl(tab) }}"
                 preload="js/preload.js">
        </webview>
      </div>

      <footer class="toolbar toolbar-footer">

        <div class="toolbar-actions pull-right">
          <small>Nxt: </small><span class="icon icon-record" style="color:green"></span> <small>{{ nxtBlockHeight }}</small>
        </div>
      </footer>

    </div>
  </body>
</html>
