webview {
  flex: 0 1;
  width: 0px;
  height: 0px;
}
webview.show {
  position:absolute;
  width:100%;
  height:100%;
}
.tab-group {
  background-color: #b8b6b8;
}
.btn-group .btn:disabled {
  background-color: #ccc;
  background-image: none;
}
.btn:disabled .icon {
  color:#eee;
}

.dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu > li > button {
  border-radius: 0px 4px 4px 0px;
  border-left: 0;
}

.dropdown-selection {
  position: absolute;
  display: block;
  list-style: none;
  z-index: 2;
  width: 100%;
  margin-top: 24px;
  margin-left:-1px;
  padding: 0;
  background: #fcfcfc;
}

.dropdown-selection > li {
  cursor: pointer;
  padding: 4px 10px 4px 10px;
  border-style: solid;
  border-width:1px;
  border-color:#c2c0c2;
  border-top:0;
  font-size: 12px;
  line-height: 1.4;
}

.dropdown-selection > li:last-child {
  border-radius: 0px 0px 4px 4px;
}

.dropdown-selection > li:hover {
  background-color:#dcdfe1;
}

.notification {
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 500px;
   padding: 2px 4px 0px 4px;
   margin-left: 10px;
   white-space: nowrap;
}
.notification.info {
  background-color: lightblue;
}
.notification.positive {
  background-color: lightgreen;
}
.notification.negative {
  background-color: orange;
}

.hide-fade.ng-hide-add, .hide-fade.ng-hide-remove {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
  display:block!important;
}
.hide-fade.ng-hide-add.ng-hide-add-active,
.hide-fade.ng-hide-remove {
  opacity:0;
}
.hide-fade.ng-hide-add,
.hide-fade.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
